@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  font-size: 1.1rem;
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}
section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.section {
  transition: all 0.4s ease-in-out;
  animation: scaleAnim 1s ease-in-out;
}
@keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

.control {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}

.h-shape {
  transition: all 0.4s ease-in-out;
  width: 65%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
}
.image {
  transition: all 0.4s ease-in-out;
}

.name {
  font-size: 3rem;
  font-weight: 600;
}

.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-in-out;
}
.main-btn:hover::before {
  width: 100%;
  height: 100%;
  transform: translateX(0);
}
.hover-items {
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
.portfolio-item:hover .hover-items {
  opacity: 1;
  transform: scale(1);
}

.contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-item p {
  margin: 0.3rem 0 !important;
  padding: 0 !important;
}

.contact-icon {
  display: flex;
  margin-top: 2rem;
}
.contact-icon a {
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 0.4rem;
  transition: all 0.4s ease-in-out;
}
.contact-icon a:hover {
  background-color: purple;
}

textarea,
input {
  border-radius: 30px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  outline: none;
  border: none;
  background-color: grey;
  width: 100%;
  color: white;
  resize: none;
}

.theme-btn {
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in-out;
}
.theme-btn:active {
  transform: translateY(-3px);
}
.theme-btn i {
  font-size: 1.4rem;
  color: var(--color-grey-2);
  pointer-events: none;
}
